body {
  background-color: #191d21;
  font-family: verdana, sans-serif;
  font-weight: 1000;
  color: #CCC;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
}

h1 {
  text-align: center;
  font-size: 1.75em;
}

header {
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #00000071;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #CCC;
}

a {
  color: #DDD;
}

a:hover, a:focus{
  color: #FFF;
}

.linkList {
  margin-right: auto;
  margin-left: auto;
  width: 75vw;
  max-width: 750px;
}

.linkList a {
  display: block;
  border-radius: 16px;
  border: 2px solid;
  border-color: #ffffff11;
  cursor: pointer;
  text-align:center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #CCC;
  text-decoration: none;
  background-color: #ffffff07;
  box-shadow: 0 0 10px #00000050;
  transition: 200ms ease-in;
}

.linkList a:hover, .linkList a:focus{
  transition: 80ms;
  background-color: #ffffff30;
  color: #EEE;
  border-color: #AAA;
  box-shadow: 10px 10px 8px #00000050;
  transform:scale(1.025);
}

.tip {
  display: block;
  width: 80vw;
  text-align:center;
  font-size: 0.75em;
  word-wrap:break-word;
  color: #CCC;
}
