/*
  Copyright © 2024 Nesakko
  This work is free. You can redistribute it and/or modify it under the terms of the Do What The Fuck You Want To Public License, Version 2, as published by Sam Hocevar. See the LICENSE file for more details.
*/

/* Links style sheet */
main ul{
  margin: 0;
  padding: 0;
}
.l{
  margin: 1rem;
  list-style: none;
}
.l + .un {
  display: none;
}
.l > a{
  display: block;
  text-align:center;
  border-radius:.5rem;
  outline: solid 3px;
  cursor:pointer;
  padding:.75rem 0;
  color:var(--text-color);
  text-decoration:none;
}

#bdc a{outline-color: #5662F6; background-color: #5662F635;}
#bhh a{outline-color: #FF7139; background-color: #FF713935;}
#bmi a{outline-color: #B4E900; background-color: #B4E90035;}
#bdi a{outline-color: #3f3f3f; background-color: #3f3f3f35;}
#bcb a{outline-color: #2185D0; background-color: #2185D035;}
#bpt a{outline-color: #FF424D; background-color: #FF424D35;}
#bss a{outline-color: #4DB6AC; background-color: #4DB6AC35;}
#brd a{outline-color: #FF5700; background-color: #FF570035;}
#bdx a{outline-color: #3D63FD; background-color: #3D63FD35;}
#bgr a{outline-color: #FF90E8; background-color: #FF90E835;}
#bkf a{outline-color: #12C3FF; background-color: #12C3FF35;}
#blp a{outline-color: #F6C915; background-color: #F6C91535;}
#btg a{outline-color: #5F2EEA; background-color: #5F2EEA35;}
#bos a{outline-color: #2081E2; background-color: #2081E235;}
#bfd a{outline-color: #168dee; background-color: #168dee35;}
#bda a{outline-color: #00E59B; background-color: #00E59B35;}
#bgl a{outline-color: #FCA326; background-color: #FCA32635;}
#bpf a{outline-color: #e4c40f; background-color: #e4c40f35;}
#bgh a{outline-color: #2a252e; background-color: #2a252e35;}
#btw a{outline-color: #1D9BF0; background-color: #1D9BF035;}
#bsk a{outline-color: #0886fe; background-color: #0886fe35;}


/* desktop style */
@media screen and (min-width: 1000px) {
  .l{
    margin: .5rem;
  }
  .l > a{
    text-align:center;
    border-radius:.5rem;
    border:3px;
    border-style:solid;
    outline: none;
    cursor:pointer;
    padding:.75rem 0;
    color:var(--link-text-col);
    text-decoration:none;
    rotate:X -180deg;
    transition:
      rotate .4s ease-in .1s,
      transform .3s ease-in .1s,
      color .1s linear,
      border-color .2s ease-out,
      box-shadow .2s linear;
  }

  .l:hover > a, .l > a:focus, .l > a.active{
    color:#fff;
    text-shadow: 0 0 .75rem #000000AD;
    rotate:X 0deg;
    transform:scale(1.075) translateY(-.5rem);
    transition:
      rotate .25s ease-out .05s,
      transform .05s ease-out,
      color .1s linear .2s,
      border-color .2s ease-in .2s,
      background-color .2s linear .2s,
      box-shadow .2s linear .2s,
      text-shadow .2s linear .2s;
  }

  :is(#bdc, #bhh, #bmi, #bdi, #bcb, #bpt, #bss, #brd, #bdx, #bgr, #bkf, #blp, #btg, #bos, #bfd, #bda, #bgl, #bpf, #bgh, #btw, #bsk) a {
    border-color: var(--link-border);
    background-color: var(--link-bg);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }

  #bdc:hover a,#bdc a:focus,#bdc a.active{background-color: #5662F630; border-color:#b6bbfa; box-shadow:inset 0 0 .5rem #5662F655,0 0 5rem 5px #5662F655,inset 0 0 3.5rem #5662F655, var(--link-shad);}
  #bhh:hover a,#bhh a:focus,#bhh a.active{background-color: #FF713930; border-color:#fcb79b; box-shadow:inset 0 0 .5rem #FF713955,0 0 5rem 5px #FF713955,inset 0 0 3.5rem #FF713955, var(--link-shad);}
  #bmi:hover a,#bmi a:focus,#bmi a.active{background-color: #6c8d0130; border-color:#d0ec73; box-shadow:inset 0 0 .5rem #B4E90055,0 0 5rem 5px #B4E90055,inset 0 0 3.5rem #B4E90055, var(--link-shad);}
  #bdi:hover a,#bdi a:focus,#bdi a.active{background-color: #3f3f3f50; border-color:#ffffff; box-shadow:inset 0 0 .5rem #dddddd55,0 0 5rem 5px #dddddd55,inset 0 0 3.5rem #dddddd55, var(--link-shad);}
  #bcb:hover a,#bcb a:focus,#bcb a.active{background-color: #2185D030; border-color:#92b5cf; box-shadow:inset 0 0 .5rem #2185D055,0 0 5rem 5px #2185D055,inset 0 0 3.5rem #2185D055, var(--link-shad);}
  #bpt:hover a,#bpt a:focus,#bpt a.active{background-color: #FF424D30; border-color:#fcb0b4; box-shadow:inset 0 0 .5rem #FF424D55,0 0 5rem 5px #FF424D55,inset 0 0 3.5rem #FF424D55, var(--link-shad);}
  #bss:hover a,#bss a:focus,#bss a.active{background-color: #4DB6AC30; border-color:#8eb4b0; box-shadow:inset 0 0 .5rem #4DB6AC55,0 0 5rem 5px #4DB6AC55,inset 0 0 3.5rem #4DB6AC55, var(--link-shad);}
  #brd:hover a,#brd a:focus,#brd a.active{background-color: #FF570030; border-color:#faae89; box-shadow:inset 0 0 .5rem #FF570055,0 0 5rem 5px #FF570055,inset 0 0 3.5rem #FF570055, var(--link-shad);}
  #bdx:hover a,#bdx a:focus,#bdx a.active{background-color: #3D63FD30; border-color:#a2b4fd; box-shadow:inset 0 0 .5rem #3D63FD55,0 0 5rem 5px #3D63FD55,inset 0 0 3.5rem #3D63FD55, var(--link-shad);}
  #bgr:hover a,#bgr a:focus,#bgr a.active{background-color: #FF90E830; border-color:#fae3f5; box-shadow:inset 0 0 .5rem #FF90E855,0 0 5rem 5px #FF90E855,inset 0 0 3.5rem #FF90E855, var(--link-shad);}
  #bkf:hover a,#bkf a:focus,#bkf a.active{background-color: #12C3FF30; border-color:#94e2fc; box-shadow:inset 0 0 .5rem #12C3FF55,0 0 5rem 5px #12C3FF55,inset 0 0 3.5rem #12C3FF55, var(--link-shad);}
  #blp:hover a,#blp a:focus,#blp a.active{background-color: #F6C91530; border-color:#fae698; box-shadow:inset 0 0 .5rem #F6C91555,0 0 5rem 5px #F6C91555,inset 0 0 3.5rem #F6C91555, var(--link-shad);}
  #btg:hover a,#btg a:focus,#btg a.active{background-color: #5F2EEA30; border-color:#b6a2ec; box-shadow:inset 0 0 .5rem #5F2EEA55,0 0 5rem 5px #5F2EEA55,inset 0 0 3.5rem #5F2EEA55, var(--link-shad);}
  #bos:hover a,#bos a:focus,#bos a.active{background-color: #2081E230; border-color:#96bbe0; box-shadow:inset 0 0 .5rem #2081E255,0 0 5rem 5px #2081E255,inset 0 0 3.5rem #2081E255, var(--link-shad);}
  #bfd:hover a,#bfd a:focus,#bfd a.active{background-color: #ccccaa50; border-color:#ffffdd; box-shadow:inset 0 0 .5rem #ffffaa55,0 0 5rem 5px #ffffaa55,inset 0 0 3.5rem #ffffaa55, var(--link-shad);}
  #bda:hover a,#bda a:focus,#bda a.active{background-color: #00E59B30; border-color:#9ce4cd; box-shadow:inset 0 0 .5rem #00E59B55,0 0 5rem 5px #00E59B55,inset 0 0 3.5rem #00E59B55, var(--link-shad);}
  #bgl:hover a,#bgl a:focus,#bgl a.active{background-color: #FCA32630; border-color:#fae0bc; box-shadow:inset 0 0 .5rem #FCA32655,0 0 5rem 5px #FCA32655,inset 0 0 3.5rem #FCA32655, var(--link-shad);}
  #bpf:hover a,#bpf a:focus,#bpf a.active{background-color: #e4c40f30; border-color:#e0d7a2; box-shadow:inset 0 0 .5rem #e4c40f55,0 0 5rem 5px #e4c40f55,inset 0 0 3.5rem #e4c40f55, var(--link-shad);}
  #bgh:hover a,#bgh a:focus,#bgh a.active{background-color: #2a252e50; border-color:#f5f4f5; box-shadow:inset 0 0 .5rem #c3afd055,0 0 5rem 5px #c3afd055,inset 0 0 3.5rem #c3afd055, var(--link-shad);}
  #btw:hover a,#btw a:focus,#btw a.active{background-color: #1d9bf030; border-color:#b4d9f1; box-shadow:inset 0 0 .5rem #1D9BF055,0 0 5rem 5px #1D9BF055,inset 0 0 3.5rem #1D9BF055, var(--link-shad);}
  #bsk:hover a,#bsk a:focus,#bsk a.active{background-color: #0886fe30; border-color:#badcfc; box-shadow:inset 0 0 .5rem #0886fe55,0 0 5rem 5px #0886fe55,inset 0 0 3.5rem #0886fe55, var(--link-shad);}

  .l:nth-child(2n+1) > a {
    animation: normal 1s left 0s;
    -webkit-animation: normal 1s left 0s;
    -o-animation: normal 1s left 0s;
  }

  .l:nth-child(2n) > a {
    animation: normal 1s right 0s;
    -webkit-animation: normal 1s right 0s;
    -o-animation: normal 1s right 0s;
  }
}
