/*
  Copyright © 2024 Nesakko
  This work is free. You can redistribute it and/or modify it under the terms of the Do What The Fuck You Want To Public License, Version 2, as published by Sam Hocevar. See the LICENSE file for more details.
*/

/* !!!! desktop only !!!! */

/* Background logo image */
@media screen and (min-width: 1000px) {
.bg{
  position: sticky;
  z-index: -1;
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
.im{
  position: fixed;
  top: -25vh;
  width: 150vh;
  aspect-ratio: 1;
  opacity: 0;
  transition: opacity .6s ease-in-out;
  /* background-origin: center / contain border-box no-repeat; */
  --imc: center / contain border-box no-repeat;
}
.l:hover .im, .l:focus-within .im{
  opacity: 1;
  transition: opacity .6s ease-in-out .5s;
}

#bdc .im {
  background: var(--imc) url(../logos/Discord.svg);
}
/* 
#bhh .im {
  background: var(--imc) url();
}
#bsk .im {
  background: var(--imc) url();
}
#btw .im {
  background: var(--imc) url();
}
#bdi .im {
  background: var(--imc) url();
} 
*/
#bmi .im {
  background: var(--imc) url(../logos/Misskey.svg);
}
#bcb .im {
  background: var(--imc) url(../logos/codeberg.svg);
}
/* 
#blp .im {
  background: var(--imc) url();
}
#bgr .im {
  background: var(--imc) url();
}
#bkf .im {
  background: var(--imc) url();
}
#btg .im {
  background: var(--imc) url();
}
#brd .im {
  background: var(--imc) url();
}
#bos .im {
  background: var(--imc) url();
}
#bfd .im {
  background: var(--imc) url();
} 
*/
#bpf .im {
  background: var(--imc) url(../logos/PixelfedGlow.svg);
}
/* 
#bda .im {
  background: var(--imc) url();
}
#bss .im {
  background: var(--imc) url();
}
#bpt .im {
  background: var(--imc) url();
}
#bdx .im {
  background: var(--imc) url();
}
#bgl .im {
  background: var(--imc) url();
}
#bgh .im {
  background: var(--imc) url();
} 
*/
}