/*
  Copyright © 2023 Nesakko
  This work is free. You can redistribute it and/or modify it under the terms of the Do What The Fuck You Want To Public License, Version 2, as published by Sam Hocevar. See the LICENSE file for more details.
*/

@import url(./anims.css); /* Import animations */
@import url(./links.css); /* import links style */

*{
  color:#ccc;
  text-align:center;
}
::selection{
  background-color:#4d15a8;
  color: #ffffff;
}
a, abbr{
  transition: 
    text-shadow .3s ease,
    color .05s ease;
}
body{
  background-color:#14161a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:600;
  margin:0;
  height: 100vh;
  animation: 1s ease-in-out fade;
  
}
html{
  scrollbar-color: #1e2129 #14161a;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
header{
  overflow:hidden;
  top:0;
  left:0;
  width:100%;
  background-color:#16181c;
}
main{
  margin:1rem;
}
footer{
  font-size: .9rem;
  font-style: italic;
  position: sticky;
  margin: 0;
  width: 100%;
  padding: 32px 0;
  background-color: #16181c;
  top: 100%;
}
.mli{
  margin:1.5rem auto;
  width:75vw;
}
.h{
  max-width: 80%;
  margin: 8px auto 0 auto;
}
.un{
  display: none;
}
.o input{
  opacity: 0;
  width: 0;
  margin: 0;
}
.o{
  cursor: pointer;
  margin-left: -4px;
}
.o input:checked + .owo:before{
  font-weight: 400;
  content: "o";
}
.owo:before{
  z-index: 0;
  position: absolute;
  content: "o";
  transition: .2s;
}
.uwu:before{
  z-index: 1;
  position: absolute;
  opacity: 0;
  content: "🍆";
  transform: scale(.3) translateX(-32px) translateY(-10px);
  transition: .2s ease-in;
}
.o input:checked ~ .uwu:before{
  rotate: -90deg;
  transform: scale(.7) translateX(4px) ;
  opacity: 1;
}
.mar{
  margin-left: 18px;
}
.keur{
  margin-right: 1.5rem;
  cursor: pointer;
}
.keur input{
  opacity: 0;
  width: 0;
}
.fire:before{
  z-index: 0;
  position: absolute;
  content: "❤️";
  transition: .2s cubic-bezier(.5, -1.2, .95, .5);
}
.keur input:checked + .fire:before{
  content: "❤️‍🔥";
  transform: scale(2) translateY(-.25rem);
  text-shadow: 0 0 .5rem #fd510d, 0 0 1.5rem #fd8d0d, 0 0 3rem #ffed49;
}
.im{
  opacity: 0;
}
#ls {
  font-size: 1rem;
  background: #14161a;
  color: #ccc;
  border: none;
}
.eye {
  display: none;
}
#ctrl{
  z-index: 1;
  opacity: 0;
  position:fixed;
  bottom:3%;
  right:3%;
  padding:2rem;
  color: #fff;
  background-color:#6b2a6130;
  border-radius:32px;
  border-style:groove ridge ridge groove;
  border-color:#f060da;
  box-shadow:inset 0 0 4px #f656db55,0 0 32px #f656db20,inset 0 0 16px #f656db10;
  user-select:none;
  transform:rotateZ(4deg);
  backdrop-filter: blur(6px);
  transition: 
    opacity .1s linear,
    transform 75ms ease-in,
    box-shadow .1s ease-in-out,
    border-color .1s ease-in-out;
  aspect-ratio: 1;
}
#ctrl:hover{
  background-color:#c54cb350;
  border-color:#f5d5f0;
  box-shadow:inset 0 0 1rem #f16fdc55,0 0 5rem #f16fdc55,inset 0 0 6rem #f16fdcaa;
  transform:scale(1.1) rotateZ(-4deg);
}
.dropLang {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #181b22;
  border-radius: 8px;
  width: 260px;
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
}
.curLang {
  padding: 12px;
  position: relative;
}
.selLang {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow-x: scroll;
  overflow-y: auto;
  background-color: #1a1c20;
  display: none;
  color: #fff;
  border-radius: 8px;
}
.selLang:hover {
  display: block;
}
.optLang {
  padding: 12px;
  cursor: pointer;
  color: #b5b5b5;
  transition: 0.25s;
}
.optLang:hover {
  background-color: #576072;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  a:hover,a:focus,abbr:hover{
    color:#fff;
    text-shadow: 0 0 .75rem #f84eb7;
    outline:none;
  }
  .mli{
    max-width: 700px;
  }
  .dropLang {
    display: flex;
    width: 320px;
    cursor: pointer;
    margin: 0 auto;
  }
  .selLang {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 50vh;
  }
  .lk{
    padding: .5rem 2.125rem .5rem .3rem;
  }
  .lk > .look{
    position: absolute;
    transition: .15s ease-in .1s;
    opacity: 1;
  }
  .lk:hover > .look{
    transform: translateX(16px);
    opacity: 0;
    transition:
      transform .15s ease-in,
      opacity .15s ease-in;
  }
  .lk > .eye{
    display: inline;
    position: absolute;
    transform: translateY(8px);
    opacity: 0;
    margin-left: 4px;
    transition:
      transform .15s ease-in 0s,
      opacity .15s ease-in 0s;
  }
  .lk:hover > .eye{
    transform: translateY(0);
    transition: .15s ease-out .15s;
    opacity: 1;
  }
  
  .info {
    display: block;
    position: absolute;
    top: 50px;
    width: 0;
    height: 20px;
    right: 0;
    padding: 10px 30px 10px 1em;
    border-radius: 16px 0 0 16px;
    box-shadow: 0 0 16px #00000050;
    background-color: #1a1c20;
    /* transition: .5s .5s; */
    transition:
      width .25s .75s,
      height .3s .5s,
      background-color .25s 0s;
  }
  .info:hover, .info:focus {
    width: 300px;
    height:220px;
    background-color: #1e2129;
    transition:
      width .25s .2s,
      height .25s .4s,
      background-color .25s 0s;
  }
  .infoBubble {
    text-align: left;
    margin: 10px auto;
    opacity: 0;
    transition: .5s .15s;
  }
  .infoBubble p {
    text-align: left;
  }
  .info:hover > .infoBubble, .info:focus > .infoBubble {
    opacity: 1;
    transition: .35s .7s;
  }
}
