/*
  Copyright © 2024 Nesakko
  This work is free. You can redistribute it and/or modify it under the terms of the Do What The Fuck You Want To Public License, Version 2, as published by Sam Hocevar. See the LICENSE file for more details.
*/

/* @media (prefers-color-scheme: light) {
  :root {
    --bg1: #eae4f0;
    --bg2: #9688c5;
    --btn: #d0c4e2;
    --btn-hover: #eae4f0;
    --text-color: #0b0911;
    --link-bg: #d0c4e2;
    --link-border: #9c8aad;
    --link-text-col: #9c8aad;
    --link-shad: 4px 16px 16px #0000004d;
  }
} */

/* @media (prefers-color-scheme: dark) { */
  :root {
    --bg1: #1b1e24;
    --bg2: #171a1f;
    --btn: #1d1f25;
    --btn-hover: #22262c;
    --text-color: #ccc;
    --link-bg: #1F2327aa;
    --link-border: #33333390;
    --link-text-col: #3a4046;
    --link-shad: 4px 16px 16px #00000015;
  }
/* } */

@media (prefers-reduced-motion: no-preference), (update: slow) {
  :root {
    --body-animation: 1s ease-in-out fade;
  }
  
  @keyframes fade {
    0% { opacity: 0; }
    33% { opacity: 0; }
    100% { opacity: 1; }
  }

  body {
    animation: var(--body-animation);
    -webkit-animation: var(--body-animation);
  }
  * {
    transition:
      background-color .5s ease,
      color .5s ease;
    -webkit-transition:
      background-color .5s ease,
      color .5s ease;
  }
  a, abbr{
    transition: 
      text-shadow .3s ease,
      color .5s ease;
    -webkit-transition:
      text-shadow .3s ease,
      color .5s ease;
  }
}

/* Inter from https://rsms.me/inter/ */
@font-face {
  font-family: Inter;
  src: url(../font/InterVariable.woff2);
}
/* OpenDyslexic from https://opendyslexic.org/ */
@font-face {
  font-family: OpenDys;
  src: url(../font/OpenDyslexic-Regular.woff2);
}

* {
  color:var(--text-color);
  text-align:center;
}
::selection{
  background-color:#4d15a8;
  color: #ffffff;
}
body{
  background-color:var(--bg1);
  font-family: 'Inter', system-ui;
  font-weight:600;
  margin:0;
  height: 100vh;
}
html{
  scrollbar-color: var(--bg2) var(--bg1);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
header{
  overflow:hidden;
  top:0;
  left:0;
  width:100%;
  background-color:var(--bg2);
  box-shadow: 0 -16px 32px #00000030;
}
main{
  margin:1rem;
}
footer{
  font-size: .9rem;
  font-style: italic;
  position: sticky;
  margin: 0;
  width: 100%;
  padding: 32px 0;
  background-color: var(--bg2);
  top: 100%;
  box-shadow: 0 16px 32px #00000030;
}
.mli{
  margin:1.5rem auto;
  width:75vw;
}
.h{
  max-width: 80%;
  margin: 8px auto 0 auto;
}
.o input{
  opacity: 0;
  width: 0;
  margin: 0;
}
.o{
  cursor: pointer;
  margin-left: -4px;
}
.o input:checked + .owo:before{
  font-weight: 400;
  content: "o";
}
.owo:before{
  z-index: 0;
  position: absolute;
  content: "o";
  transition: .2s;
  -webkit-transition: all .2s;
}
.uwu:before{
  z-index: 1;
  position: absolute;
  opacity: 0;
  content: "🍆";
  transform: scale(.3) translateX(-32px) translateY(-10px);
  -webkit-transform: scale(.3) translateX(-32px) translateY(-10px);
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}
.o input:checked ~ .uwu:before{
  rotate: -90deg;
  transform: scale(.7) translateX(4px);
  -webkit-transform:  scale(.7) translateX(4px);
  opacity: 1;
}
.mar{
  margin-left: 18px;
}
.keur{
  margin-right: 1.5rem;
  cursor: pointer;
}
.keur input{
  opacity: 0;
  width: 0;
}
.fire:before{
  z-index: 0;
  position: absolute;
  content: "❤️";
  transition: .2s cubic-bezier(.5, -1.2, .95, .5);
  -webkit-transition: .2s cubic-bezier(.5, -1.2, .95, .5);
}
.keur input:checked + .fire:before{
  content: "❤️‍🔥";
  text-shadow: 0 0 .5rem #fd510d, 0 0 1.5rem #fd8d0d, 0 0 3rem #ffed49;
  transform: scale(2) translateY(-.25rem);
  -webkit-transform: scale(2) translateY(-.25rem);
}
.im{
  opacity: 0;
}
.eye {
  display: none;
}
#ctrl{
  z-index: 1;
  opacity: 0;
  position:fixed;
  bottom:3%;
  right:3%;
  padding:2rem;
  color: #fff;
  background-color:#6b2a6130;
  border-radius:32px;
  border-style:groove ridge ridge groove;
  border-color:#f060da;
  box-shadow:inset 0 0 4px #f656db55,0 0 32px #f656db20,inset 0 0 16px #f656db10;
  user-select:none;  
  -webkit-user-select: none;
  transform:rotateZ(4deg);
  -webkit-transform: rotateZ(4deg);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  aspect-ratio: 1;
  transition: 
    opacity .1s linear,
    transform 75ms ease-in,
    box-shadow .1s ease-in-out,
    border-color .1s ease-in-out;
  -webkit-transition: 
    opacity .1s linear,
    -webkit-transform 75ms ease-in,
    box-shadow .1s ease-in-out,
    border-color .1s ease-in-out;
}

#ctrl:hover{
  background-color:#c54cb350;
  border-color:#f5d5f0;
  box-shadow:inset 0 0 1rem #f16fdc55,0 0 5rem #f16fdc55,inset 0 0 6rem #f16fdcaa;
  transform: scale(1.1) rotateZ(-4deg);
  -webkit-transform:  scale(1.1) rotateZ(-4deg);
}
.dropLang {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--btn);
  border-radius: 8px;
  width: 260px;
  cursor: pointer;
  color: var(--text-color);
  margin: 0 auto;
}
.curLang {
  padding: 12px;
  position: relative;
}
.selLang {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow-x: scroll;
  overflow-y: auto;
  background-color: var(--btn);
  display: none;
  color: var(--text-color);
  border-radius: 8px;
}
.selLang:hover {
  display: block;
}
.optLang {
  padding: 12px;
  cursor: pointer;
  color: var(--text-color);
  transition: all .25s;
  -webkit-transition: all .25s;
}
.optLang:hover {
  background-color: var(--btn-hover);
  color:  var(--text-color);
}
.info, .infoBubble {
  display: none;
}
.pt {
  display: none;
}
.f_print{
  display: none;
}
.f_site{
  display: block;
}

/* style for desktop and device with width superior to 1000px */
@media screen and (min-width: 1000px) {
  a:hover,a:focus,abbr:hover{
    color: var(--text-color);
    text-shadow: 0 0 .75rem #f84eb77e;
    outline:none;
  }
  .mli{
    max-width: 700px;
  }
  .dropLang {
    display: flex;
    width: 320px;
    cursor: pointer;
    margin: 0 auto;
  }
  .selLang {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 50vh;
  }
  .lk{
    padding: .5rem 2.125rem .5rem .3rem;
  }
  .lk > .look{
    position: absolute;
    transition: all .15s ease-in .1s;
    opacity: 1;
    -webkit-transition: all .15 ease-in .1s;
  }
  .lk:hover > .look{
    transform: translateX(16px);
    -webkit-transform: translateY(16px);
    opacity: 0;
    transition:
      transform .15s ease-in,
      opacity .15s ease-in;
    -webkit-transition: 
      -webkit-transform .15s ease-in,
      opacity .15s ease-in;
  }
  .lk > .eye{
    display: inline;
    position: absolute;
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    opacity: 0;
    margin-left: 4px;
    transition:
      transform .15s ease-in 0s,
      opacity .15s ease-in 0s;
    -webkit-transition:
      -webkit-transform .15s ease-in 0s,
      opacity .15s ease-in 0s;
  }
  .lk:hover > .eye{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    transition: all .15s ease-out .15s;
    -webkit-transition: all .15s ease-out .15s;
  }
  .info {
    z-index: 998;
    cursor:help;
    display: block;
    position: fixed;
    bottom: 60px;
    width: 0;
    height: 1.25em;
    right: 0;
    padding: .75em 2em .75em 1em;
    border-radius: 16px 0 0 16px;
    box-shadow: 0 0 16px #00000050;
    background-color: var(--btn);
    transition:
      width .3s .75s,
      height .3s .5s,
      background-color .5s 0s;
    -webkit-transition: 
      width .3s .75s,
      height .3s .5s,
      background-color .5s 0s;
  }
  .info:hover, .info:focus {
    width: 300px;
    height:140px;
    background-color: var(--btn-hover);
    transition:
      width .25s .2s,
      height .25s .4s,
      background-color .25s 0s;
    -webkit-transition:
      width .25s .2s,
      height .25s .4s,
      background-color .25s 0s;
  }
  .infoBubble {
    z-index: 1;
    display: block;
    text-align: left;
    margin: auto;
    opacity: 0;
    transition: all .5s .15s ease;
    -webkit-transition: all .5s .15s ease;
  }
  .infoBubble p {
    text-align: left;
  }
  .info:hover > .infoBubble, .info:focus > .infoBubble {
    opacity: 1;
    transition: all .35s .7s ease;
    -webkit-transition: all .35s .7s ease;
  }
}
