/*
  Copyright © 2024 Nesakko
  This work is free. You can redistribute it and/or modify it under the terms of the Do What The Fuck You Want To Public License, Version 2, as published by Sam Hocevar. See the LICENSE file for more details.
*/

/* Stylesheet for printer ¯\_(ツ)_/¯ */
* {
  print-color-adjust: exact;
  color: #000;
}
html, body, header, footer {
  background-color: #fff;
}
footer, header {
  box-shadow: none;
}
.pt {
  display: inline;
}
.info, .infoBubble, .dropLang, .curLang, .selLang, .optLang, .scr, input, .h:nth-child(2), .f_site{
  display: none;
}
h1 {
  text-align: center;
}
ul{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.mli {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
}
.l, .un {
  list-style: none;
  display: inline-block;
  margin: 0;
}
.f_print{
  display: block;
}
.l a {
  max-width: 160px;
  max-height: 160px;
}
